@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing|Rye');
@import url('https://fonts.googleapis.com/css?family=Damion|Kristi');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Voltaire');
@import url('https://fonts.googleapis.com/css?family=Geo');

a,a:hover{
    text-decoration: none;
}
header{
    height: 100px;
/*    background-color: #F2F2F2;*/
    z-index: 1;
    width: 100%;
    position: fixed;
    transition: .5s;
}
.logo span{
            color: #EE5257;    
            font-family: 'Geo', sans-serif;
            text-shadow: 1px 3px 3px rgba(0,0,0,.2);    
            font-size: 1.2em;   
        }
.logo{
            position: absolute;
            left: 20px;
            top: 5px;
            text-align: center;
            background-color: #F2F2F2;
            padding: 6px;
            border-radius: 25px;
            border: dotted RGBA(190, 147, 90, .5);
        }
.logo h2{
            margin: 0;
            font-style: italic;    
            text-align: center;
            color: #21252B;    
            font-family: 'Damion', cursive;    
            text-shadow: 0 1px 0 #ccc,
                           0 2px 0 #c9c9c9,
                           0 3px 0 #bbb,
                           0 4px 0 #b9b9b9,
                           0 5px 0 #aaa,
                           0 6px 1px rgba(0,0,0,.1),
                           0 0 5px rgba(0,0,0,.1),
                           0 1px 3px rgba(0,0,0,.3),
                           0 3px 5px rgba(0,0,0,.2),
                           0 5px 10px rgba(0,0,0,.25),
                           0 10px 10px rgba(0,0,0,.2),
                           0 20px 20px rgba(0,0,0,.15);
            font-size: 2.3em; 
            padding-right: 5px;
        }
nav{
    width: 100%;
    line-height: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav a{
    color: #f3f3f3;
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 10px;
    transition: .4s;
    font-weight: lighter;
}
nav a:hover{
    color: #BE935A;
    background-color: #f3f3f3;
    border-radius: 20px;
    text-shadow: 2px 1px 6px rgba(0,0,0,.35);
    text-decoration: none;
}
nav a.active{
    color: #BE935A;
    background-color: #f3f3f3;
    border-radius: 20px;
    text-shadow: 2px 1px 6px rgba(0,0,0,.35);
}
.nav-social{
    position: absolute;
    right: 30px;
    top: 30px;
}
.nav-social a i{
    margin-left: 20px;
    color: #f3f3f3;
    padding: 10px;
    font-size: 1.3em;
    transition: .4s;
}
.nav-social .fa-phone:hover{
    color: #BE935A;
    text-shadow: 2px 1px 6px rgba(0,0,0,.2);
}
.nav-social a i.fa-yelp:hover{
    color: #d92127;
    text-shadow: 2px 1px 6px rgba(0,0,0,.2);
}
.nav-social a i.fa-facebook-f:hover{
    color:#3d5798;
    text-shadow: 2px 1px 6px rgba(0,0,0,.2);
}
section{
    height: 100vh;
    width: 100%;
    background-color: #EEF1F2;
}
section#two{
    height: auto;
}
section#one{
    background-color: rgba(0,0,0,.35);
}
section#three{
    background-color: rgba(0,0,0,.35);
}
.headerchange{
    background-color: #fff;
     -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.headerchange nav a{
    color: #21252B;
}
.headerchange nav a.active{
    background-color: #BE935A;
    color: #f3f3f3;
}
.headerchange a i{
    color:#21252B;
}
.headerchange nav a:hover{
    background-color: #BE935A;
    color: #f3f3f3;
}
.time-notice{
    font-family: 'Kosugi', sans-serif;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-size: .8em;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3f3f3;
    width: 380px;
    border-radius: 20px;
    padding: 10px;
}
.time-notice i{
    float: left;
    color: #BE935A;
    position: relative;
    line-height: 20px;
    padding-right: 4px;
    font-size: 1.6em;
    text-shadow: 2px 1px 6px rgba(0,0,0,.35);
}
.time-notice p{
    font-size: .9em;
    margin: 0;
    padding-left: 25px;
    text-shadow: 2px 1px 6px rgba(0,0,0,.15);
    color: #21252B;
}
#one .center{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

.floating{
            animation-name: floating;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;   
        }
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}
#two .container{
    padding: 0px;
}
#two .container .row {
    padding: 20px;
}
#two .container .row .col-md{
    margin: 10px;
}
.center-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#two .container .row .left{
    background-color: RGBA(255, 255, 255, 1.00);
    text-align: center;
    padding: 20px;
    height: 70vh;
}
#two .container .row .right{
    background-color: RGBA(255, 255, 255, 1.00);
    text-align: center;
    padding: 20px;
    height: 70vh;
}
#two .container .row .left h1{
    margin: 0;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
#two .container .row .left p{
    color: slategray;
    line-height: 2em;
    margin: 0;
    padding: 20px;
}
#two .container .row .left h2{
    font-size: .9em;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-transform: uppercase;
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: .15em;
    color: gray;
}
#two .container .row .left h2 span{
    color: RGBA(190, 147, 90, 1.00);
}
#two .container .row .right{
    background-image: url(../images/chairs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.center-content a button{
    padding: 15px;
    border: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: RGBA(190, 147, 90, 1.00);
    color: #f2f2f2;
    transition: .3s;
    cursor: pointer;
    font-family: 'Reem Kufi', sans-serif;
}
.center-content a button:hover{
    color: RGBA(33, 37, 43, 1.00);
    text-shadow: 2px 1px 6px rgba(0,0,0,.35);
}
#one h1{
    margin: 0;
    font-size: 3em;
    color: #EE5257;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: 'Bungee Inline', cursive;
    text-shadow:
    -1px -1px 0px #f2f2f2,
    1px -1px 0px #f2f2f2,
    -1px 1px 0px #f2f2f2,
    1px 1px 0px #f2f2f2;
    

/*
    text-shadow: 0 1px 0 #ccc,
                           0 2px 0 #c9c9c9,
                           0 3px 0 #bbb,
                           0 4px 0 #b9b9b9,
                           0 5px 0 #aaa,
                           0 6px 1px rgba(0,0,0,.1),
                           0 0 5px rgba(0,0,0,.1),
                           0 1px 3px rgba(0,0,0,.3),
                           0 3px 5px rgba(0,0,0,.2),
                           0 5px 10px rgba(0,0,0,.25),
                           0 10px 10px rgba(0,0,0,.2),
                           0 20px 20px rgba(0,0,0,.15);
*/
}
#one .center p{
    padding: 5px;
    font-size: 1.8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #dfdfdf;
    font-family: 'Geo', sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#one .center p.address{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1em;
    margin: 0;
    text-shadow: none;
}
i.fa-chevron-circle-down{
    cursor: pointer;
    color: #f2f2f2;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}
#three{
    height: auto;
}
#three .three-wrap{
    background-color: rgba(0,0,0,.35);
    padding-top: 30px;
    padding-bottom: 30px;
}
#three .three-wrap .container{
    background-color: RGBA(238, 241, 242, 1.00);
}
#three .three-wrap .row{
    padding: 20px;
}
.three-wrap .col-md{
    background-color: RGBA(255, 255, 255, 1.00);
    -webkit-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.1);
box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.1);
}
.three-wrap .col-md h1{
    text-shadow: 2px 1px 6px rgba(0,0,0,.15);
    text-align: center;
    margin: 0;
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: .1em;
    padding-top: 20px;
}
.three-wrap .col-md p{
    letter-spacing: .1em;
    text-align: center;
    margin: 0;
    font-family: 'Reem Kufi', sans-serif;
    padding: 10px;
}
.divider{
    width: 10px;
    border: solid transparent;
}
.three-wrap .col-md a {
    color: inherit;
}
.three-wrap .order-logo{
    text-align: center;
}
.three-wrap .order-logo img{
    padding: 20px;
    margin: 0;
}
header label{
    display: none;
}
header label i{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 1.3em;
    cursor: pointer;
    transition: .4s;
}
header label i:hover{
    transform: rotate(90deg);
    text-shadow: 2px 1px 6px rgba(0,0,0,.15);
}
footer{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: RGBA(33, 37, 43, 1.00);
    text-align: center;
}
footer p{
    font-family: 'Reem Kufi', sans-serif;
    margin: 0;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: .75em;
}
footer p span{
    color: RGBA(190, 147, 90, 1.00);
}
.show{
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

@media screen and (max-width: 800px){
    .logo{
        position: absolute;
        left:50% ;
        transform: translateX(-50%);
    }
    header{
        background-color: #fff;
     -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    header label{
        display: block;
    }
    nav{
        position: relative;
        top: 100px;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transition:.4s;
        background-color: RGBA(33, 37, 43, .8);
    }
    nav a{
        display: block;
        padding: 0px;
    }
    .headerchange nav a{
        color: #f2f2f2;
    }
    nav a.active{
        border-radius: 0;
    }
    nav a:hover{
        border-radius: 0;
    }
    .nav-social{
    position: absolute;
    left: 0px;
    top: 40px;
}
    .nav-social a i{
        padding: 0px;
        font-size: 1em;
        color: #21252B;
    }
    #one h1{
    font-size: 1.5em;
}
    #two .container .row .right{
    background-image: url(../images/chairs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}